<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body style="box-sizing: border-box">
		<h4 style="font-family: 'Times New Roman', Times, serif; color:black">Sąrašas kandidatų su kuriais reikia susisiekti:</h4>
		<table style="min-width: 800px; max-width: 1024px; border: 0.1px solid black; border-collapse: collapse; font-family:'Times New Roman', Times, serif">
			<tr style="background-color: black; color: white">
				<th style="border: 0.1px solid black">Vardas</th>
				<th style="border: 0.1px solid black">Pavardė</th>
				<th style="border: 0.1px solid black">Komentaras</th>
				<th style="border: 0.1px solid black">LinkedIn</th>
				<th style="border: 0.1px solid black">Kada reikia susisiekti</th>
			</tr>
			{1}
		</table>

		<h4 style="font-family: 'Times New Roman', Times, serif; color:black">Sąrašas klientų su kuriais reikia susisiekti:</h4>
		<table style="min-width: 800px; max-width: 1024px; border: 0.1px solid black; border-collapse: collapse; font-family:'Times New Roman', Times, serif">
			<tr style="background-color: black; color: white">
				<th style="border: 0.1px solid black">Pavadinimas</th>
				<th style="border: 0.1px solid black">Projektas</th>
				<th style="border: 0.1px solid black">Komentaras</th>
				<th style="border: 0.1px solid black">Kada reikia susisiekti</th>
			</tr>
			{2}
		</table>
	</body>
</html>
